@import "settings";

// Function Directives
@function getColumnWidth($width, $columns, $margin) {
    @return ($width / $columns) - ($margin * 2);
}

.column {
    height: 100%;
    float: left;
    width: getColumnWidth(100%, map-get($settings, "columns"), map-get($settings, "margin"));
    margin: 0 map-get($settings, "margin");
    background: $warning;
}
