@import "_colors";
@import "_base.scss";
@import "_grid.scss";
@import "../../bower_components/include-media/dist/_include-media.scss";


// set the defaults before we have the individual media queries

.portrait, .landscape, .retina-2x, .retina-3x {
    display: none;
}


%game-container {
    display: block;
    font-size: 14px;
    border-radius: 3px;
    width: getGameContainerDimension('phone');
    height: getGameContainerDimension('phone');
    border: solid 1px $lightGrey;
    background: $lightGrey;
}

%game-row {
    height: getGameRowHeight('phone');
}

%instructions-row {
    height: getInstructionRowHeight('phone');
}

%controls-row {
    height: getControlsRowHeight('phone');
}

%square {
    display: block;
    width: getSquareDimension('phone');
    height: getSquareDimension('phone');
    margin: getSquareMargin('phone');
}


// phone
@include media(">=phone", "<tablet") {
    .game-container {
        @extend %game-container;
        width: getGameContainerDimension('phone');
        height: getGameContainerDimension('phone');
        background: $pink;
    }
    .game-row {
        @extend %game-row;
        height: getGameRowHeight('phone');
    }
    .instructions-row {
        @extend %instructions-row;
        height: getInstructionRowHeight('phone');
    }
    .controls-row {
        @extend %controls-row;
        height: getControlsRowHeight('phone');
    }
    .square {
        @extend %square;
        width: getSquareDimension('phone');
        height: getSquareDimension('phone');
        margin: getSquareMargin('phone');
    }
}

// tablet
// iPad (first generation), iPad 2, iPad Mini (first generation) has 1024×768 pixels
// iPad Mini (second generation), iPad (third generation), iPad (fourth generation), iPad Air has 2048×1536px

// (orientation: landscape)

@include media(">=tablet", '<2048px') {
    .game-container {
        @extend %game-container;
        width: getGameContainerDimension('tablet');
        height: getGameContainerDimension('tablet');
        background: $green;
    }
    .game-row {
        @extend %game-row;
        height: getGameRowHeight('tablet');
    }
    .instructions-row{
        @extend %instructions-row;
        height: getInstructionRowHeight('tablet');
    }
    .controls-row {
        @extend %controls-row;
        height: getControlsRowHeight('tablet');
    }
    .square {
        @extend %square;
        width: getSquareDimension('tablet');
        height: getSquareDimension('tablet');
        margin: getSquareMargin('tablet');
    }
}

@media screen and (orientation:portrait) {
    .portrait {
        display: block;
    }
}

@media screen and (orientation:landscape) {
    .landscape {
        display: block;
    }
}

// retina2x
@include media("retina2x", ">=tablet") {
    .retina-2x {
        display: block;
    }
}

// retina3x ( iPhone 6 Plus )
@include media("retina3x", ">=tablet") {
    .retina-3x {
        display: block;
    }
}


// large desktop
@include media(">=2048px") {
    .game-container {
        @extend %game-container;
        width: getGameContainerDimension('large-desktop');
        height: getGameContainerDimension('large-desktop');
    }
    .game-row {
        @extend %game-row;
        height: getGameRowHeight('large-desktop');
    }
    .instructions-row{
        @extend %instructions-row;
        height: getInstructionRowHeight('large-desktop');
    }
    .controls-row {
        @extend %controls-row;
        height: getControlsRowHeight('large-desktop');
    }
    .square {
        @extend %square;
        width: getSquareDimension('large-desktop');
        height: getSquareDimension('large-desktop');
        margin: getSquareMargin('large-desktop');
    }
}

// print
@include media("print") {
    .game-container {
        @extend %game-container;
        background: $red;
    }
}


