// a map of settings
$settings: (
    maxWidth: 1024px,
    columns: 1,
    margin: 1%,
    column-width: 100%,
    column-height: 100%,
    row-width: 100%,
    board-dimension: 300px,
    board-margin: 5px,
    instruction-row-height: 50px,
    controls-row-height: 45px,
    square-dimension: 75px
);

// utility functions to get settings

// board-dimension
@function getBoardDimension() {
    @return map-get($settings, "board-dimension");
}

// board-margin
@function getBoardMargin() {
    @return map-get($settings,"board-margin");
}

// instruction-row-height
@function getInstructionRowHeightDefault() {
    @return map-get($settings, "instruction-row-height");
}

// controls-row-height
@function getControlsRowHeightDefault() {
    @return map-get($settings, "controls-row-height");
}

@function getSquareDimensionDefault() {
    @return map-get($settings, "square-dimension");
}


// row - game
@function getGameRowHeight($media) {
    $height:getBoardDimension();
    $margin:getBoardMargin();
    @if $media == 'phone' {
        @return $height + $margin * 2 ;
    }
    @if $media =='tablet' {
        @return ($height + $margin * 2) * 2;
    }
    @return ($height + $margin * 2) * 2;
}

// game container
@function getGameContainerDimension($media) {
    $dimension:getBoardDimension();
    @if $media == 'phone' {
        @return $dimension;
    }
    @return $dimension * 2;
}

// row - instruction
@function getInstructionRowHeight($media) {
    $height:getInstructionRowHeightDefault();
    @if $media == 'phone' {
        @return $height;
    }
    @if $media =='tablet' {
        @return $height * 1.5;
    }
    @return $height * 2;
}

// row - controls
@function getControlsRowHeight($media) {
    $height:getControlsRowHeightDefault();
    @if $media == 'phone' {
        @return $height;
    }
    @return $height * 2;
}

// square - dimension
@function getSquareDimension($media) {
    $dimension:getSquareDimensionDefault();
    @if $media == 'phone' {
        @return $dimension;
    }
    @return $dimension * 2;
}
