@import "_colors";
@import "_base.scss";
@import "_grid.scss";
@import "_media.scss";


/* Center both horizontal and vertical */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


