@import "_colors";
@import "_base";
@import "_grid";
@import "_media";
@import "_flex";



.center-text {
    text-align: center;
    margin: 0;
    padding: 0;
}

.pink {
    background-color: $pink;
}

.yellow {
    background-color: $yellow;
}

.blue {
    background-color: $blue;
}



